
 <div id="sidemenu">
    <h1>Side Menu</h1>
    <a href="#!map">
        <button class="menubutton">Map</button>
    </a>
    <a href="#!techtrends">
        <button class="menubutton">Tech trends</button>
    </a>
    <a href="#!register">
        <button class="menubutton">Registration</button>
    </a>
    <button class="menubutton">Chat</button>
    <button class="menubutton">Notifications</button>
    <button class="menubutton">Mails</button>
    <button class="menubutton">Map</button>
    <button class="menubutton">List Item</button>
    <button class="menubutton">List Item</button>
    <button class="menubutton">List Item</button>
    <button class="menubutton">List Item</button>
</div>
