* {
    box-sizing: border-box;
  }



.column{
    border: 2px gray solid;
    float:left;
    padding: 10px;
}

.roww:after {
    content: "";
    display: table;
    clear: both;
}

.sidemenu{
    width:17em;
}

.content{
    width: 76em;
}

.header{
    width: 100%;
}

.headercontent{
    text-align: center;
}

.footercontent{
    text-align: center;
}

.footer{
    width: 100%;
}



.menubutton {
    margin: 10px;
    font-family: cursive;
    font-size: 30px;
    border: none;
    background-color: transparent;
    cursor:pointer;
    border-bottom: 1px gray solid;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  button:disabled {
  cursor: not-allowed;
  }

  input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input:focus{
    background-color: #ddd;
    outline: none;
  }

  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .registerbtn:hover {
    opacity: 1;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .container {
    padding: 16px;
    background-color: white;
  }

  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }